.index-post > * {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.index-post .hero {
  display: block;
  height: 280px;
  width: 600px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #bebebe;
}

@media screen and (max-width: 700px){
  .index-post .hero {
    display: none;
  }
}

.index-post {
  max-width: 900px;
  text-align: center;
  padding: 50px 0;
  border-bottom: 3px dashed;
}

.index-post blockquote {
  font-style: italic;
}

.index-post .read {
  width: auto;
  height: 30px;
  line-height: 30px;
  font-size: 1.4em;
  padding: 10px;
  background-color: black;
  color: white;
  width: 100px;
  margin: auto;
  margin-top: 1em;
}

