.social-button a{
  padding: 10;
  background-color: #000;
  color: #fff;
  line-height: 2.5em;
  text-align: center;
  text-decoration: none;
}

.social-button a:hover{
  background-color: #3C3B3B;
  cursor: pointer;
}

