/* nav style */

nav {
  list-style: none;
}

.top-nav {
  padding: 10;
}

.top-nav li {
  float: left;
  padding: 5;
}

.social-button a{
  padding: 10;
  background-color: #000;
  color: #fff;
  line-height: 2.5em;
  text-align: center;
  text-decoration: none;
}

.social-button a:hover{
  background-color: #3C3B3B;
  cursor: pointer;
}

#sign-up-nav span{
  padding-left: 1em;
}

img {
  width: 210;
  height: 113;
}
#sign-up-nav span {
  text-align: center;
}

#internal-nav li a{
  border: 1px solid;
  width:3em;
  display: block;
  text-align: center;
  padding: 5px;
}
#internal-nav li a:hover{
  background-color: #ECE7E7;
  cursor: pointer;
}

/* [social] [internal] [sign up] */


#homepage-header {
  display: flex;
  flex-flow: row wrap;
}

#homepage-header nav {
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* @media all and (max-width: 670px) { */
/* } */
