/* [social] [internal] [sign up] */


#homepage-header {
  display: flex;
  flex-flow: row wrap;
}
#homepage-header nav{
  flex: 1 0px;
}
#homepage-header #internal-nav{
  flex: 2 0px;
  position: relative;
}

/* [  rich | blog | contact    ] */

#logo{
  background: url('/images/avatar.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height:3em;
  width:6em;
}
#internal-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
#internal-nav li {
  float: right;
}

nav {
  list-style: none;
}

.top-nav {
  padding: 10;
}

.top-nav li {
  float: left;
  padding: 5;
}

.top-nav a, .top-nav a {
  padding: 10;
  background-color: #000;
  color: #fff;
  line-height: 2.5em;
  text-align: center;
  text-decoration: none;
}

.top-nav a:hover{
  background-color: #3C3B3B;
  cursor: pointer;
}

#sign-up-nav span{
  padding-left: 1em;
}


@media all and (max-width: 670px) {
  #social-nav{
    float: right;
  }
  #sign-up-nav{
    float: right;
  }
  #homepage-header nav {
    flex: 2 25%;
    order: 2;
  }
  #internal-nav {
    float: left;
    order: 1 !important;
    flex: 2 100% !important; 
    justify-content: flex-start;
  }
}
@media all and (max-width: 413px) {
  #homepage-header nav {
    flex: 1 100%;
    order: 2;
    justify-content: center !important;
  }
}
