/* nav style */

nav {
  list-style: none;
}

.top-nav {
  padding: 10;
}

.top-nav li {
  float: left;
  padding: 5;
}

.social-button a{
  padding: 10;
  background-color: #000;
  color: #fff;
  line-height: 2.5em;
  text-align: center;
  text-decoration: none;
}

.social-button a:hover{
  background-color: #3C3B3B;
  cursor: pointer;
}

#sign-up-nav span{
  padding-left: 1em;
}

img {
  width: 210;
  height: 113;
}
#sign-up-nav span {
  text-align: center;
}

#internal-nav li a{
  border: 1px solid;
  width:3em;
  text-align: center;
  padding: 5px;
}
#internal-nav li a:hover{
  background-color: #ECE7E7;
  cursor: pointer;
}

/* #logo{ */
/*   background: url('/images/avatar.png'); */
/*   background-position: center; */
/*   background-size: contain; */
/*   background-repeat: no-repeat; */
/*   height:3em; */
/*   width:6em; */
/* } */

/* [social] [internal] [sign up] */


#homepage-header {
  display: flex;
  flex-flow: row wrap;
}

#homepage-header nav {
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* #homepage-header nav{ */
/*   flex: 1 0px; */
/* } */
/* #homepage-header #internal-nav{ */
/*   flex: 2 0px; */
/*   position: relative; */
/* } */

/* /1* [  rich | blog | contact    ] *1/ */

/* #internal-nav { */
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
/* } */
/* #internal-nav li { */
/*   float: right; */
/* } */



/* @media all and (max-width: 670px) { */
/*   #social-nav{ */
/*     float: right; */
/*   } */
/*   #sign-up-nav{ */
/*     float: right; */
/*   } */
/*   #homepage-header nav { */
/*     flex: 2 25%; */
/*     order: 2; */
/*   } */
/*   #internal-nav { */
/*     float: left; */
/*     order: 1 !important; */
/*     flex: 2 100% !important; */ 
/*     justify-content: flex-start; */
/*   } */
/* } */
/* @media all and (max-width: 413px) { */
/*   #homepage-header nav { */
/*     flex: 1 100%; */
/*     order: 2; */
/*     justify-content: center !important; */
/*   } */
/* } */
